<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title> 
    <link rel="stylesheet" href="/css/navbar.css"> 
    <link rel="stylesheet" href="/css/DateAndTime.css"> 
</head> 
<body> 
    <%- include('../partials/navbar') %> 
    <div class="allPage">
 
    <a href="javascript:window.history.back();" class="back">← </a> 
    <h2> please select a date</h2> 
    <% dates.forEach(date => { %> 
        <button class="date-btn" data-date="<%= date.value %>" > 
            <%= date.display %>  
        </button> 
    <% }) %> 
 
    <div id="times" style="display:none;"> 
        <% employees.forEach(employee => { %>  
            <h3><%= employee.name %></h3> 
 
            <% employee.availability.forEach(slot => { %> 
                <button 
                    class="slot" 
                    data-time="<%= new Date(slot.time).toISOString() %>"
                    data-employee="<%= employee._id %>"
                    <%= slot.isBooked ? 'disabled' : '' %>
                > 
                    <%= new Date(slot.time).toLocaleTimeString([], { 
                        timeZone: "Asia/Bahrain", 
                        hour: "2-digit", 
                        minute: "2-digit" 
                    }) %> 
                </button> 
            <% }) %> 
        <% }) %>
    </div> 
 
    <div> 
        <p id="feedback"></p>
    </div> 

    <div><button id="continueBtn" style="display: none;">
            Continue
        </button></div>
 </div>
<script>
const serviceId = "<%= service._id %>";
const dateButtons = document.querySelectorAll(".date-btn");
const slots = document.querySelectorAll(".slot");
const times = document.querySelector("#times");
const feedback = document.querySelector("#feedback");
const continueBtn = document.querySelector("#continueBtn");

let selectedDate = null;
let selectedTime = null;
let selectedEmployee = null;
let selectedEmployeeName = null;

dateButtons.forEach(button => {
    button.addEventListener("click", () => {

        dateButtons.forEach(btn => btn.classList.remove("selected"));

        button.classList.add("selected");

        selectedDate = button.dataset.date;

        times.style.display = "block";
    });
});

slots.forEach(slot => {

    slot.addEventListener("click", () => {
        continueBtn.style.display="block"

        slots.forEach(s => s.classList.remove("selected"));

        slot.classList.add("selected");

        selectedTime = slot.dataset.time;
        selectedEmployee = slot.dataset.employee;
        selectedEmployeeName = slot.parentElement.querySelector("h3").textContent;

        feedback.textContent =
            `You selected ${slot.textContent.trim()}`;

    });

});




continueBtn.addEventListener("click", async () => {



    if (!selectedTime) {
        alert("Please select a time.");
        return;
    }

   window.location.href =
    `/salons/booking-details?service=${serviceId}&employee=${selectedEmployee}&date=${selectedDate}&time=${selectedTime}`;

});

</script> 
</body> 
</html>