<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Thank you for choosing us. can't wait to see you!</h1>
    <div>
        <h2>Booking Confirmation</h2>
        
        
        <h3>Service</h3>
        <p>
            <%= booking.service_id.name %>
        </p>
        
        
        <h3>Employee</h3>
        <p>
            <%= booking.employee_id.name %>
        </p>
        
        
        <h3>Date</h3>
        <p>
            <%= booking.date.toLocaleDateString("en-US", { day: "numeric" , month: "long" }) %>
        </p>
        
        
        <h3>Time</h3>
        <p>
            <%= new Date(booking.time).toLocaleTimeString("en-US", { hour: "numeric" , minute: "2-digit" }) %>
        </p>
        
        
        <hr>
        
        
        <h3>Customer Information</h3>
        
        <p>
            Name:
            <%= booking.customerName %>
        </p>
        
        
        <p>
            Phone:
            <%= booking.phone %>
        </p>
        
        
        <p>
            Notes:
            <%= booking.notes || "No notes" %>
        </p>
        
        
        <p>
            Gift:

            <%= booking.isGift ? "Yes" : "No" %>
            <% if(isGift==="Yes"){ %><p id="giftMessage">please send the reciever address on whatsapp number: 33842291</p><% } //next step: print recipt http://localhost:3000/salons/booking-details%>
        </p>
    </div>
    <a href="/salons/appointments">All Appointments</a>
</body>
</html>