<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm booking</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/confirm.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="allPage">
    <h1 class="title">Thank You!</h1>

<p class="subtitle">
    Your appointment has been booked successfully. We can't wait to see you!
</p>

<div class="confirmation-card">

    <h2>Booking Confirmation</h2>

    <div class="info-row">
        <span>Service</span>
        <p><%= booking.service_id.name %></p>
    </div>

    <div class="info-row">
        <span>Employee</span>
        <p><%= booking.employee_id.name %></p>
    </div>

    <div class="info-row">
        <span>Date</span>
        <p>
            <%= booking.date.toLocaleDateString("en-US", { day: "numeric", month: "long" }) %>
        </p>
    </div>

    <div class="info-row">
        <span>Time</span>
        <p>
            <%= new Date(booking.time).toLocaleTimeString("en-US",{hour:"numeric",minute:"2-digit"}) %>
        </p>
    </div>

    <br>

    <h2>Customer Information</h2>

    <div class="info-row">
        <span>Name</span>
        <p><%= booking.customerName %></p>
    </div>

    <div class="info-row">
        <span>Phone</span>
        <p><%= booking.phone %></p>
    </div>

    <div class="info-row">
        <span>Notes</span>
        <p><%= booking.notes || "No notes" %></p>
    </div>

    <div class="info-row">
        <span>Gift</span>
        <p><%= booking.isGift ? "Yes" : "No" %></p>
    </div>

    <a class="appointments-btn" href="/salons/appointments">
        View All Appointments
    </a>

</div></div>
</body>
</html>