<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>salon</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/onesalon.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="allPage">
        <a href="javascript:window.history.back();" class="back">← </a>
    <h1></h1>
    <div class="img-name-info">
    <img src="<%= salonFind.salon_URL %>" alt="Salon Header">

    <div class="salon-overlay">
        
        <h2 class="salonName"><%= salonFind.name %></h2>
        <button class="info" salon-id="<%= salonFind._id %>">i</button>
    </div>
</div>
    <dialog id="salonModel-<%= salonFind._id %>"> <h2>Salon Information</h2>
        <p> <%= salonFind.about %></p>


        <button class="closeButton">Close</button>
    </dialog><br>
        <% for(let category of categories){ %>
            <div class="accordion">
                <button class="accordion-head">
                    <%= category.name %>
                        <span>+</span>
                </button>
                <div class="accordion-content">
        
                    <% category.services.forEach(service=> { %>
        
                        <div class="service">
                            <input type="radio" name="service" value="<%= service._id %>" class="service-radio">
                            <h4>
                                <%= service.name %>
                            </h4>
                            <p>
                                <%= service.price %> BD
                            </p>
                        </div>
                        <% }) %>
                </div>
            </div>
            
            <% } %>
            <div class="continue">
                <a id="continue" href="#" class="button">
                    Continue  <span> ></span>
                </a>

            </div>
        </div>

<script> 
    document.querySelectorAll(".accordion-head").forEach(button => {
        button.addEventListener("click", () => {
            const content = button.nextElementSibling;
            content.classList.toggle("active");
        });
    });


const openInfoButton= document.querySelectorAll('.info')
    openInfoButton.forEach(button=> {
        button.addEventListener('click',()=>{
            const salonID= button.dataset.salonID
            const salonId= button.getAttribute('salon-id')

            const target= document.getElementById(`salonModel-${salonId}`)

            if(target){
                target.showModal()
            }
        })
    })
    const close= document.querySelectorAll('.closeButton')
    close.forEach(button=>{
        button.addEventListener('click',()=>{
            const open= button.closest('dialog')
            if(open){
                open.close()
            }
        })
    })


    const continueBtn = document.getElementById("continue");
        const radios = document.querySelectorAll(".service-radio");

        continueBtn.addEventListener("click", (e) => {

            const selected = document.querySelector(".service-radio:checked");

            if (!selected) {
                e.preventDefault();
                alert("Please select a service first.");
                return;
            }
            console.log(`/salons/booking/${selected.value}`);

            window.location.href = `/salons/booking/${selected.value}`;
        });
</script>

</body>
</html>